<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="project2.dto.AppUserDto" alias="AppUserDto" />
		<typeAlias type="project2.dto.MaterialDto" alias="MaterialDto" />
		<typeAlias type="project2.dto.RecipeDto" alias="RecipeDto" />
		<typeAlias type="project2.dto.RecipeImage" alias="RecipeImage" />
		<typeAlias type="project2.dto.RecipeIngre" alias="RecipeIngre" />
		<typeAlias type="project2.dto.RecipeIngreMap" alias="RecipeIngreMap" />
		<typeAlias type="project2.dto.CategoryDto" alias="CategoryDto" />
	</typeAliases>
</configuration>
