<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project2.dao.MaterialDao">

	<resultMap id="appUserMap" type="project2.dto.MaterialDto">
       <result property="materialId"      column="MATERIALID"/>
       <result property="title"          column="TITLE"/>
       <result property="imageurl"       column="IMAGEURL"/>
       <result property="season"       column="SEASON"/>
       <result property="temperature"         column="TEMPERATURE"/>
       <result property="calories100g"       column="CALORIES100G"/>
       <result property="efficacy"          column="EFFICACY"/>
       <result property="buyguide"          column="BUYGUIDE"/>
       <result property="trimguide"          column="TRIMGUIDE"/>
       <result property="storeguide"          column="STOREGUIDE"/>
  	</resultMap>
  <insert id= "insertMaterial" parameterType="MaterialDto">
    insert into material 
    (MATERIALID, TITLE, IMAGEURL, SEASON, TEMPERATURE, CALORIES100G, EFFICACY, BUYGUIDE, TRIMGUIDE, STOREGUIDE)
    values 
    (material_seq.nextval, #{title}, #{imageurl}, #{season}, #{temperature}, #{calories100g}, #{efficacy}, #{buyguide}, #{trimguide},#{storeguide})
  </insert>
  <select id= "selectMaterialList" resultType="MaterialDto">
   select *from material order by materialid desc
  </select>
  <select id="selectMaterial" parameterType="int" resultType="MaterialDto">
  select *from material where MATERIALID = #{materialid}
  </select>
  <update id="updateMaterial" parameterType="MaterialDto">
  update material set TITLE=#{title}, IMAGEURL=#{imageurl}, SEASON=#{season}, TEMPERATURE=#{temperature}, CALORIES100G=#{calories100g}, EFFICACY=#{efficacy}, BUYGUIDE=#{buyguide}, TRIMGUIDE=#{trimguide}, STOREGUIDE=#{storeguide}
  where MATERIALID=#{materialid}
  </update>
  <delete id="deleteMaterial" parameterType="int">
  delete from material where MATERIALID=#{materialid}
  </delete>
</mapper>